# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# dotenv environment files
.env
.env.local
.env.*.local

# OS / IDE / Editor files
.DS_Store
Thumbs.db

# Optional: VSCode settings
.vscode/

# Build output
dist/
build/
